body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

h1 {
    font-size: 60px;
    font-weight: bolder;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
}

/* Banner section style  */
.sec-1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    width: 95%;
    height: 100%;
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.content-sec {
    width: 40%;
    height: 90%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 30px;
}

.content {
    width: 90%;
}

.btn1 {
    padding: 15px 30px;
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: 300;
    border-radius: 8px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-out;

}

.btn1:hover {
    background-color: transparent;
    border: 2px solid white;
    padding: 15px 35px;
    border-radius: 25px;
}

.image-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}

.image-sec img {
    width: 100%;
}

/* Blog section style  */
.sec-2 {
    width: 95%;
    display: flex;
    margin: 15px;
    justify-content: space-between;
}

.side-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 260px;
    height: 40%;
    background-color: black;
    border-radius: 8px;
}


.menu-1 {
    padding: 10px 20px;
    background-color: whitesmoke;
    color: black;
    margin: 15px;
    text-align: center;
    border-radius: 8px;
}

.menu-2 {
    padding: 10px 20px;
    background-color: whitesmoke;
    color: black;
    margin: 0px 15px;
    text-align: center;
    border-radius: 8px;
}

.menu-3 {
    padding: 10px 20px;
    background-color: skyblue;
    color: black;
    margin: 15px;
    text-align: center;
    border-radius: 8px;
}

.blogs {
    width: 76%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

}

.blog {
    border: 1px solid gray;
    border-radius: 15px;
    cursor: pointer;
}

.blog-content {
    padding: 15px;
}

.blog img {
    width: 100%;
}

button {
    padding: 6px 17px;
    cursor: pointer;
}

.icon {
    display: flex;
    justify-content: space-around;
}

.view-btn {
    background-color: skyblue;
    border: none;
    border-radius: 8px;
    padding: 10px 35px;
    font-size: 18px;
    display: none;
}

/* footer style  */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: whitesmoke;
    height: 300px;
}

hr {
    border: 0.5px solid gray;
    width: 80%;
    margin-bottom: 20px;
}

.footer-menu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.footer-menu a {
    padding: 5px 30px;
    color: white;
}

/* Responsive For Tablet */
@media screen and (min-width:699px) and (max-width:1250px) {
    .banner {
        width: 90%;
    }

    .sec-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .side-bar {
        flex-direction: row;
        width: 95%;
        background-color: transparent;
        margin: 20px;
        justify-content: space-between;
    }

    .t-mode {
        margin: 0px;
        width: 25%;
    }

    .blogs {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        margin: 30px;
    }



    .hidden-1 {
        display: none;
    }

    .view-btn {
        display: block;
    }

    .footer-menu {
        grid-template-columns: repeat(4, 1fr);

    }
}

@media screen and (max-width:700px) {
    .banner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content-sec {
        width: 100%;
    }

    .image-sec {
        width: 100%;
    }

    .sec-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .side-bar {
        width: 50%;
        background-color: transparent;
    }

    .blogs {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);

    }

    footer {
        height: 100%;
    }

    .footer-menu {
        grid-template-columns: repeat(1, 1fr);

    }
}